
.main-grid {
    display: grid;
    padding-top: 1em;
    grid-template-columns: repeat(12, 1fm);

    grid-template-areas:
        "header header header header header header header header header header header header"
        "text text text text text text text text . . image image"
        "text text text text text text text text . . image image"
    ;
    box-shadow: 0px 0px 5px 5px #00000094;
    background-color: #00000094;

}

.main {
    grid-area: main;

    &-child-header {
        grid-area: header;
        display: flex;
        justify-content: center;

        h1 {
            margin-top: 0.2em;
            color: #854215;
        }
    }


    &-child-text {
        grid-area: text;

        margin-right: 0.2em;
        margin-left: 0.3em;
        overflow: hidden;

        p {
            font-size: 1.05em;
            color: #e0e0e0;
            margin-bottom: 0.2em;
        }

        &-img-wrap {
            display: block;
            gap: 2px;
            margin-right: 0.2em;
            margin-left: 0.3em;
            float: right;
            background-color: #cf6823b0;
            width: 250px;
            height: auto;
            border-radius: 0.75em;
            box-shadow: 0px 0px 4px 4px #cf6823b0;

            img {
                float: right;
                max-width: 100%;
            }

            p {
                float: left;
                display: block;
                font-size: 1em;
                color: #e0e0e0;
                margin-left: 0.3em;
                font-size: 0.75em;
                font-style: italic;
            }
        }
    }



    &-child-img {
        grid-area: image;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 2;
        gap: 2px;
        margin-right: 0.2em;
        max-width: 100%;

        img {
            grid-column: span 6;
            max-width: 100%;
        }

        p {
            grid-row: 2;
            grid-column: span 6;

            display: block;
            font-size: 1em;
            margin-left: 0.3em;
            font-size: 0.75em;
            font-style: italic;
        }
    }
}

@media (max-width: 767px) {
    .main-child-text-img-wrap {
        float: left;
        width: auto;
    }
}